<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 09:30</td>  <td><strong> Arrival and Setup </strong></td> </tr>
      <tr> <td>09:30 - 09:15</td>  <td><strong> Welcome and Introduction to Software Carpentry </strong> </td> </tr>
      <tr> <td>09:45 - 11:00</td>  <td> <strong>Automating tasks with the Bash shell</strong> <br/> 
        The Unix shell is a power tool that allows you to do complex things with just few keystrokes by helping you 
        in combining existing programs in new ways and automate repetitive tasks. This session guides you through the 
        basics of file system and the shell and will start you on the path towards using powerful tools and computing 
        resources. The following topics will be covered:   <br/> 
      <br/>
      <ul>
         <li>Introducing the shell</li>
         <li>Files and Directories</li>
         <li>Creating things</li>
         <li>Pipes and Filters</li>
         <li>Loops</li>
         <li>Shell Scripts</li>
         <li>Finding Things</li>
      </ul>
      </td>
      </tr>
      <tr> <td border="0 !important" width="15%">11:00 - 11:30</td>  <td width="85%"><strong>Break</strong></td> </tr>
      <tr> <td border="0 !important" width="15%">11:30 - 12:30</td>  <td width="85%"><strong> Shell: continued</strong> </tr>
      <tr> <td border="0 !important" width="15%">12:30 - 13:30</td>  <td width="85%"><strong>Lunch</strong></td> </tr>   
      <tr> <td border="0 !important" width="15%">13:30 - 14:30</td>  <td width="85%"> <strong>Automating tasks with the Bash shell</strong> <br/>
        In this session, you'll learn good programming practices with an introduction to the fundamentals of Python.
      
      The following topics will be covered: <br/>
      <br/>
      <ul>
         <li>Basics - e.g. Starting Python, using variables</li>
         <li>Working with arrays and lists</li>
	 <li>Basic program control - loops and conditionals</li>
 	 <li>Creating and using functions</li>
      </ul>  
      </td>
      </tr>      
      <tr> <td border="0 !important" width="15%">14:30 - 15:00</td>  <td> width="85%"<strong>Break</strong></td> </tr>
      <tr> <td border="0 !important" width="15%">15:00 - 16:00</td>  <td width="85%"><strong> Python: continued</strong></td> </tr>
      <tr> <td border="0 !important" width="15%">16:00 - 16:30</td>  <td width="85%"><strong> Wrap-up of Day 1</strong></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Git</td>  <td> </td> </tr>
      <tr> <td>09:00</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>09:05</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>09:10</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>09:20</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>09:40</td>  <td>Exploring History</td> </tr>
      <tr> <td>10:05</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>10:10</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>10:40</td>  <td>Morning Coffee</td> </tr>
      <tr> <td>10:55</td>  <td>Collaborating</td> </tr>
      <tr> <td>11:20</td>  <td>Conflicts</td> </tr>
      <tr> <td>11:35</td>  <td>Open Science</td> </tr>
      <tr> <td>11:45</td>  <td>Licensing</td> </tr>
      <tr> <td>11:50</td>  <td>Citation</td> </tr>
      <tr> <td>11:55</td>  <td>Hosting</td> </tr>
      <tr> <td>12:05</td>  <td>Lunch break</td> </tr>
      <tr> <td>Python II</td>  <td> </td> </tr>
      <tr> <td>13:00</td>  <td>Lists</td> </tr>
      <tr> <td>13:20</td>  <td>For Loops</td> </tr>
      <tr> <td>13:45</td>  <td>Looping Over Data Sets</td> </tr>
      <tr> <td>14:00</td>  <td>Writing Functions</td> </tr>
      <tr> <td>14:25</td>  <td>Afternoon Coffee</td> </tr>
      <tr> <td>14:40</td>  <td>Variable Scope</td> </tr>
      <tr> <td>15:00</td>  <td>Conditionals</td> </tr>
      <tr> <td>15:25</td>  <td>Programming Style</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:15</td>  <td>Feedback</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
