<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Unix Shell</td>  <td> </td> </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:05</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>09:45</td>  <td>Working With Files and Directories</td> </tr>
      <tr> <td>10:20</td>  <td>Morning Coffee</td> </tr>
      <tr> <td>10:35</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>11:25</td>  <td>Loops</td> </tr>   
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>Python I</td>  <td> </td> </tr>
      <tr> <td>13:00</td>  <td>Running and Quitting</td> </tr>
      <tr> <td>13:15</td>  <td>Variables and Assignment</td> </tr>
      <tr> <td>13:35</td>  <td>Data Types and Type Conversion</td> </tr>
      <tr> <td>13:55</td>  <td>Built-in Functions and Help</td> </tr>
      <tr> <td>14:20</td>  <td>Afternoon Coffee</td> </tr>
      <tr> <td>14:35</td>  <td>Libraries</td> </tr>
      <tr> <td>14:55</td>  <td>Reading Tabular Data into DataFrames</td> </tr>
      <tr> <td>15:15</td>  <td>Pandas DataFrames</td> </tr>
      <tr> <td>15:45</td>  <td>Plotting</td> </tr>
      <tr> <td>14:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Git</td>  <td> </td> </tr>
      <tr> <td>09:00</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>09:05</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>09:10</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>09:20</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>09:40</td>  <td>Exploring History</td> </tr>
      <tr> <td>10:05</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>10:10</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>10:40</td>  <td>Morning Coffee</td> </tr>
      <tr> <td>10:55</td>  <td>Collaborating</td> </tr>
      <tr> <td>11:20</td>  <td>Conflicts</td> </tr>
      <tr> <td>11:35</td>  <td>Open Science</td> </tr>
      <tr> <td>11:45</td>  <td>Licensing</td> </tr>
      <tr> <td>11:50</td>  <td>Citation</td> </tr>
      <tr> <td>11:55</td>  <td>Hosting</td> </tr>
      <tr> <td>12:05</td>  <td>Lunch break</td> </tr>
      <tr> <td>Python II</td>  <td> </td> </tr>
      <tr> <td>13:00</td>  <td>Lists</td> </tr>
      <tr> <td>13:20</td>  <td>For Loops</td> </tr>
      <tr> <td>13:45</td>  <td>Looping Over Data Sets</td> </tr>
      <tr> <td>14:00</td>  <td>Writing Functions</td> </tr>
      <tr> <td>14:25</td>  <td>Afternoon Coffee</td> </tr>
      <tr> <td>14:40</td>  <td>Variable Scope</td> </tr>
      <tr> <td>15:00</td>  <td>Conditionals</td> </tr>
      <tr> <td>15:25</td>  <td>Programming Style</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:15</td>  <td>Feedback</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
